html, body {
    background-color: rgb(236, 236, 236);
    color: #242527;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(9, 8, 9);
    color: white;
    border-bottom: 1px solid rgb(197, 49, 49);
}

button {
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 4px !important;
}

nav {
    background-color: rgb(38, 40, 42);
    color: rgb(180, 180, 180);
}

nav button {
    border: none !important;
}

table button {
    border: none !important;
}

.panel {
    background-color: rgb(37,37,37);
    color: white;
}

input {
    background-color: rgb(150, 150, 150);
    border-color: rgb(80, 80, 80);
    border-radius: 6px;
    color: white;
}

textarea {
    background-color: rgb(218, 218, 218);
    border-color: rgb(80, 80, 80);
    border-radius: 6px;
    color: black;
    resize: vertical;
}

select {
    background-color: rgb(150, 150, 150);
    border-color: rgb(80, 80, 80);
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(37,37,37);
}

table thead {
    background-color: rgb(37,37,37);
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}
table tbody tr:nth-child(even) {
    background-color: rgb(218, 218, 218);
}

table tfoot {
    background-color: rgb(37,37,37);
    color: white;
}

tr.active {
    background-color: rgb(197, 49, 49) !important;
}

.page {
    padding: 8px 16px;
}

.stroke.white {
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}

.stroke.black {
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
}

.accent {
    background-color: #2C8C99;
}

.w3-dropdown-hover:first-child {
    background-color: transparent;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
